form#math-demo-do-math-form {
  fieldset {
    display: table;
    > div {
      display: table-row;
      .form-item {
        display: table-cell;
        vertical-align: middle;
        padding: 10px;
      }
    }
  }
  p.description {
    font-weight: bold;
    font-style: italic;
  }
}

div.transition {
  h1 {
    font-size: 80px;
  }
  .soft {
    text-align: right;
    font-family: "Lucida Grande", Verdana, sans-serif;
    font-style: italic;
    color: #aaa;
  }
}